<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body style="background-color: powderblue;">
	<h1>
		<center>Conditional statement in thymleaf</center>
	</h1>
	<h1>
		User is <span th:style="${isActive}?'color:green':'color:red'"
			th:text="${isActive}? 'ACTIVE':'NOT ACTIVE'"></span>
	</h1>
	
	<h1 th:if="${gender}=='M'">Male</h1>
	<h1 th:unless="${gender}=='M'">Female</h1>
	
	<div th:switch="${#lists.size(mylist)}">
	<h1 th:case="'0'">List Contains Zero Elements</h1>
	<h1 th:case="'1'">List Contains only one Elements</h1>
	<h1 th:case="'*'">List Contains more than one Elements</h1>
	</div>
	
</body>
</html>